*{
text-align: center;
font-weight:bold;
font-family:Arial Black;
background-color:rgb(153,217,234);
}
table{
    border:solid 1px;
}
th{
    border-bottom:solid 1px;
    border-right:solid 1px;
}
td{
    border-bottom:solid 1px;
    border-right:solid 1px;
}
a{
    //border:solid 1px;
}
ul{
    //border:solid 1px;
}
li{
   //border:solid 1px;
   list-style-type:none;
}


#login{
font-size:20px;
}
form{
    font-size:12px;
}
select{

background-color:white;
}
option{
 
background-color:white;
}
input{
    font-size:12px;
background-color:white;
}
#sub{
background-color:silver;
}
#links {
top:250px;
position: absolute;
}#links a{
font-size:16px;
}
#links a:hover{
color:red;
}
.inpt{
background-color:white;
position: absolute;

}
#logo{
border:solid;
position: absolute;
top: 20px;
right:50px;
}
#container{
    // border:none;
    width:500px;
    height:400px;
    margin:auto;
    padding:auto;
}
#header {

}
#header li{
   // border-style: solid;
    
    border-color:black;
    list-style-type:none;
}
#header a:hover{
    
    text-align: center;
    color: white;
    background-color:blue;
}#header_up{
    visibility:visible;
    margin-left:-40px;
}#header_down{
    visibility:hidden;
    height:-30px;
    margin-left:-40px;
}
#kostentable{
    
    text-align: center;
    visibility:hidden;
   // border-style:solid;
    position: absolute;
   margin-left:50px;
    
}
#teilnehmertable1{
    
    text-align: center;
    visibility:hidden;
   // border-style:solid;
    position: absolute;
   margin-left:50px;
}
#teilnehmertable2{
    
    text-align: center;
    visibility:hidden;
  //  border-style:solid;
position: absolute;
   margin-left:50px;
}
#teilnehmertable3{
    
    text-align: center;
    visibility:hidden;
  //  border-style:solid;
    position: absolute;
   margin-left:50px;
}
