*{
font-weight:bold;
font-family:Arial Black;
background-color:rgb(153,217,234);
}
#login{
font-size:20px;
}
form{
    font-size:12px;
}
select{

background-color:white;
}
option{
 
background-color:white;
}
input{
    font-size:12px;
background-color:white;
}
#sub{
background-color:silver;
}
#links {
margin-top:100px;
float:right;
}#links a{
font-size:16px;
}
#links a:hover{
color:red;
}
.inpt{
background-color:orange;
}
#logo{
background-color:white;
margin-right:50px;
float:right;
font-size:20px;
color:green;
}
